body {
    margin: 0;
}

/* div {
    background: aqua;
    width: 400px;
    height: 400px;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
} */

.main {
    position: relative;
    top: 50px;
    left: 50px;
}

.sec {
    background: blueviolet;
    width: 100px;
    height: 100px;
    right: 10px;
    bottom: 10px;
    position: fixed;
}

.child {
    background: plum;
    width: 50px;
    height: 50px;
    /* left: auto; */
    left: 50%;
    margin-left: -25px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.stk {
    background: gold;
    width: 90%;
    height: 150px;
    position: sticky;
    bottom: 0;
    left: 0;
}

.position {
    border: 2px solid black;
    padding: 20px;
}

.class1 {
    background-color: red;
    padding: 50px;
    width: 100px;
    height: 100px;
}

.class2 {
    background-color: rgb(0, 255, 26);
    padding: 50px;
    width: 100px;
    height: 100px;
}

.class3 {
    background-color: rgb(47, 0, 255);
    padding: 50px;
    width: 100px;
    height: 100px;
}